/* This file is often left empty in Tailwind CSS v4+ CLI setups. */
	@import "tailwindcss"; /*important to link styling in versions beyond 4.xx*/
	
/* Scan entire project from (the parent directory of) src folder */
	@source "../**/*.{html,js}";
	
/*Activate Tailwind in Code Editor:*/
    /* C:/cli-tools/tailwindcss -i src/input.css -o dist/output.css --watch */

/* Your custom utilities */
/* .all-buttons {
    @apply p-2 w-14 border;
    } 
*/